
.p-tool-box{
  position: relative;
  width: 350px;
  background-color: #d3cccc;
  padding: 10px;
  .edit-tool{
    margin: 10px 0;
  }
  .p-button-replace{
    background-color: white;
  }
  .G-display-none{
    display: none;
  }
}
.edeting{
  width: 100%;
}
